<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Паттерн MVP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card >
    <ion-card-header> Прямокутник </ion-card-header>
      <ion-card-content>
        <ion-item color="transparent" lines="none">
          <ion-input label="Сторона a" labelPlacement="floating" #inputA 
            type="number" value="4"></ion-input>
        </ion-item>
        
        <ion-item color="transparent" lines="none">
          <ion-input label="Сторона b" labelPlacement="floating" #inputB 
              type="number" value="5"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-button (click)="ras(inputA.value,inputB.value)"> Розрахувати </ion-button>
        </ion-item>
          
        <ion-item>
          <ion-label> {{view.a}} </ion-label>
          <ion-label> {{view.b}} </ion-label>
          <ion-label> {{view.p}} </ion-label>
          <ion-label> {{view.s}} </ion-label>
        </ion-item>
      </ion-card-content>
  </ion-card>
</ion-content>